body {
  margin: 0;
  padding: 0;
}

nav.navbar{
  padding-left: 10vw;
  padding-right: 10vw;
}

nav a{
  margin-left: 2vw;
}

nav div.dropdown-menu form{
  padding: 1vw 2vw 1vw 2vw;
  width: 20vw;
}

nav div.dropdown-menu form input{
  margin-top: 1vh;
  margin-bottom: 2vh;
  size: 50;
}

.content{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 3vw;
}