<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/fndr.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  </head>
  <body>
      <nav>
          <img id="logo" src=""/>
          <span id="logo-name"><%= title %></span>
          <ul>
              <li>Register</li>
              <li>Login</li>
          </ul>
      </nav>

      <form>
        <label>Email</label>
        <input id='email' type="text" name="email">
        <label>Password</label>
        <input id='password' type="text" name="password">
        <input id='submit' type="submit" value="Register">
      </form>

      <p>Bacon ipsum dolor amet venison tail cow pork doner tenderloin, t-bone boudin landjaeger. Ball tip capicola ribeye, leberkas kielbasa kevin burgdoggen pork chop frankfurter sirloin. Shankle beef pastrami fatback salami turkey short loin swine pig ribeye. Andouille fatback turducken t-bone. Kevin pancetta tongue pork chop meatball tail kielbasa strip steak turkey. Ground round prosciutto pork chop porchetta.</p>
  </body>
</html>